body {
  font-family: "Cormorant Garamond", serif;
  background-color: #053e5a;
  margin: 0;
  position: relative;
}
/* header Bar */
.header {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efeee8;
  height: 80px;
  width: 100%;
  line-height: 22px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #042d42;
}

a {
  text-decoration: none;
}

#profileRedirect {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: bold;
}

.logo img {
  max-height: 60px;
  margin-left: 40px;
  cursor: pointer;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
}

.menu-wrapper a {
  margin-left: 100px;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 9px;
  color: #042d42;
  cursor: pointer;
}

.menu-wrapper a:hover {
  color: #ab7b03 !important;
  border-bottom: #042d42 1px solid;
}

.right-icon a {
  margin-right: 40px;
  font-size: 12px;
  cursor: pointer;
}

.search-header {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efeee8;
  height: 80px;
  width: 100%;
  line-height: 22px;
  margin-top: 80px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #042d42;
  border-top: #042d42 1px solid;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  width: 1000px;
  font-size: 20px;
  letter-spacing: 3px;
  border: 0;
  border: transparent;
  background-color: transparent;
  outline: none;
}

.search-container i {
  margin-left: 100px;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* BODY */
.container,
.photo-box,
.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.happy-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.group-photo {
  width: 55%;
}

.text-box {
  flex-direction: column;
}

.text {
  display: inline-block;
  font-size: 25px;
  color: #ab7b03;
}
