body {
  font-family: "Cormorant Garamond", serif;
  background-color: #053e5a;
  margin: 0;
  position: relative;
}

/* header Bar */
.header {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efeee8;
  height: 80px;
  width: 100%;
  line-height: 22px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #042d42;
}

a {
  text-decoration: none;
}

#profileRedirect {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: bold;
}

.logo img {
  max-height: 60px;
  margin-left: 40px;
  cursor: pointer;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
}

.menu-wrapper a {
  margin-left: 100px;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 9px;
  color: #042d42;
  cursor: pointer;
}

.menu-wrapper a:hover {
  color: #ab7b03 !important;
  border-bottom: #042d42 1px solid;
}

.right-icon a {
  margin-right: 40px;
  font-size: 12px;
  cursor: pointer;
}

.search-header {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efeee8;
  height: 80px;
  width: 100%;
  line-height: 22px;
  margin-top: 80px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #042d42;
  border-top: #042d42 1px solid;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  width: 1000px;
  font-size: 20px;
  letter-spacing: 3px;
  border: 0;
  border: transparent;
  background-color: transparent;
  outline: none;
}

.search-container i {
  margin-left: 100px;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.user-profile {
  display: flex;
  flex-direction: column;
}

.user-profile-container {
  display: grid;
  grid-template-columns: 270px 570px;
  grid-template-rows: 200px;
  justify-content: center;
  color: #efeee8;
  margin-top: 90px;
  /* background-color: #838bd0; */
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  background-color: #37ba67;
  /* border: 2px #c28d06 solid; */
}

.user-profile-panel {
  display: grid;
  grid-template-rows: 48px 23px 165px;
}

.user-panel-user {
  display: grid;
  grid-template-columns: 130px 160px auto;
  align-items: center;
}

.logout {
  width: 120px;
  padding: 4px;
  background-color: white;
  color: #0b3e5a;
  border: #c28d06 solid white;
  cursor: pointer;
  font-size: 12px;
}

/* .user-panel-count {
} */
.create-link {
  width: 120px;
  padding: 4px;
  background-color: white;
  color: #0b3e5a;
  border: #c28d06 solid white;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.user-panel-main {
  margin-top: 10px;
  height: 165px;
}

.main-container {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 72px auto;
  justify-content: center;
}

.post-panel {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  width: 960px;
  margin-top: 15px;
  border-top: solid 1px #c28d06;
}

.post-panel button {
  margin: 25px;
  width: 64px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  color: #efeee8;
  cursor: pointer;
}

.post-panel button:hover {
  color: #c28d06;
}

#profile-post {
  display: grid;
  grid-template-columns: 315px 315px 315px;
}

.grid {
  background: #fccb05;
  width: 295px;
  height: 295px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.grid img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.generate-post-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
}

.generate-post {
  background-color: white;
  width: 500px;
  height: 500px;
  border: #c28d06 2px solid;
  background-color: #efeee8;
}

.generate-post-header {
  height: 40px;
  border-bottom: #0b3e5a 2px solid;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 14px;
}

.close-create-post {
  display: flex;
  justify-content: end;
  width: 180px;
  margin-right: 10px;
  cursor: pointer;
}

.generate-post-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post {
  width: 350px;
  height: 300px;
  position: relative;
  margin: 15px;
  border: #0b3e5a 2px solid;
}

.post-input {
  height: 300px;
  width: 350px;
}

.hidden {
  display: none;
}

.generate-post-main input {
  margin-top: 20px;
  margin-bottom: 10px;
}
