body {
  font-family: "Cormorant Garamond", serif;
  background-color: #053e5a;
  margin: 0;
  position: relative;
}

/* Search Bar */
.header {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efeee8;
  height: 80px;
  width: 100%;
  line-height: 22px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #042d42;
}

a {
  text-decoration: none;
}

#profileRedirect {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: bold;
}

.logo img {
  max-height: 60px;
  margin-left: 40px;
  cursor: pointer;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
}

.menu-wrapper a {
  margin-left: 100px;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 9px;
  color: #042d42;
  cursor: pointer;
}

.menu-wrapper a:hover {
  color: #ab7b03 !important;
  border-bottom: #042d42 1px solid;
}

.right-icon a {
  margin-right: 40px;
  font-size: 12px;
  cursor: pointer;
}

.search-header {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efeee8;
  height: 80px;
  width: 100%;
  line-height: 22px;
  margin-top: 80px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #042d42;
  border-top: #042d42 1px solid;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  width: 1000px;
  font-size: 20px;
  letter-spacing: 3px;
  border: 0;
  border: transparent;
  background-color: transparent;
  outline: none;
}

.search-container i {
  margin-left: 100px;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

:root {
  --w: 240px;
  /*Position align width of the book */
  --h: 60px;
}

.book-container {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#book {
  /* height: var(--h + 500px); */
  height: 560px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  perspective: 1600px;
  transform-style: preserve-3d;
  margin-top: 330px;
}

.book-cover {
  /* height: calc(var(--h) + 500px); */
  height: 560px;
  /* width: calc(var(--h) + 550px); */
  width: 610px;
  width: 510px;
  position: absolute;
  /* background-image: linear-gradient(to bottom, #ff5c33, #ff9166, #3dd6f5); */
  background-color: rgb(234, 229, 229);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 1s;
  transform-origin: left;
  backface-visibility: visible;
  border: 0.5px solid black;
  margin-left: 250px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recipe-cover {
  width: 300px;
  margin-right: 50px;
}

.book-page {
  /* height: var(-740px); */
  height: -740px;
  /* width: var(-610px); */
  width: -610px;
  position: absolute;
  z-index: 100;
  transition: 1s;
  /* Setting The width of the one page and the cover page */
  transform-origin: -3px;
  background-size: cover;
  backface-visibility: visible;
  /* Setting the position of the book in the page */
  margin-left: 250px;
  border-top: #636363;
  border-right: #636363;
  border-bottom: #636363;
}

#control {
  user-select: none;
  /* Setting The with between the book and the buttons */
  margin-top: 180px;
  margin-bottom: 55px;
  z-index: 100;
}

#control button {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 0;
  margin: 0px 55px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(63, 63, 63, 0.8);
  outline: none;
}

/* Cover page */
.book-cover-page {
  display: flex;
  flex-direction: column;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #ab7b03;
  margin: 5px 0px;
}

.cover-img-box {
  margin-top: 30px;
}

.step-cover-page {
  /* width: 300px;
  border: 5px #042d42 solid;
  margin-bottom: 20px;
  margin-top: 10px; */
  width: 400px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.recipe-title,
.recipe-step-title {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;
}

.recipe-step-title {
  font-size: 30px;
  padding-bottom: 25px;
  text-align: center;
}

.step-1 {
  width: 200px;
}

.page-background {
  width: 500px;
  height: 500px;
  /* padding: 55px 150px; */
  background-color: rgb(247, 242, 242);

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 10px;
}

.text-box > p {
  text-align: center;
  display: inline-block;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  height: 450px;
  background-color: #0b1c2c;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  /* letter-spacing: 5px;  */
}

.footer-session {
  display: flex;
  flex-direction: row;
  height: 160px;
  margin-top: 30px;
  margin-left: 40px;
  color: #b78403;
}

.footer-title {
  font-size: 50px;
  margin-right: 190px;
  letter-spacing: 5px;
  font-weight: bold;
}

.footer-content {
  font-size: 20px;
  margin-left: 50px;
}

.footer-content div {
  margin-bottom: 10px;
}

.social-icon {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.social-icon ion-icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.contact-container {
  font-size: 20px;
  margin-right: 160px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.contact i {
  margin-right: 20px;
}

.partners-title {
  font-size: 25px;
}

.partners-img {
  width: 160px;
  margin-right: 50px;
}
